body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    color: white;
    transition: background-color 0.2s;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
    z-index: 1;
}

p {
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #000000;
    z-index: 1;
}

#floatingImage {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}
